html,body,ul,li,img,a,p,div,form,input,h3{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-size: 13px;
}

a,a:hover{
    text-decoration: none;
    color: #666;

}

ul{
    list-style: none;
}

input{
    outline: none;
    border: none;
    border: 1px solid #ccc;
}

.clearfix::before,.clearfix::after{
    display: block;
    content: "";
    line-height: 0px;
    height: 0px;
    clear: both;
    visibility: hidden;
}

