.blackBG{
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    background: white;
}
ul{
    list-style: none;
}
 *{
            font-size: 14px;
            font-family: "lato-regular", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
        }
        header{
            width: 100%;
            height: 50px;
            background-color: black;
            padding: 6px;
            box-sizing: border-box;
            position: relative;
        }
        header .h_right button{
            display: block;
            width: 50px;
            height: 34px;
            background-color: black;
            border: none;
        }
        header .h_right .icon-bar{
            display: block;
            width: 30px;
            height: 2px;
            margin: 4px 3px;
            padding-left: 4px;
            background-color: white;
            border-radius: 1px;
        }
        .f_left{
            float: left;
        }
        .f_right{
            float: right;
        }
        .box{
            position: absolute;
            top:50px;
            left: 0;
            width: 100%;
            background-color: black;
        }
        .box .b_first{
            height: 96px;
        }
        .box .b_first li{
            line-height: 48;
            height: 48px;
            padding: 2px 10px;
            box-sizing: border-box;
        }
        .box .b_first li input{
            display: block;
            width: 100%;
            background-color: black;
            border-radius: 3px;
            border: none;
            color: #ddd;
            height: 30px;
            padding: 4px 12px 4px 36px;
            font-size: 14px;
            line-height: 1.42857143;
        }
        .box .b_first li:first-of-type::before{
            display: inline-block;
            content: "";
            width: 30px;
            height: 30px;
            position: absolute;
            background: url("../images/search.png") 7px 5px no-repeat #333;
        }
        .box .b_first li:nth-of-type(2){
            position: relative;
            width: 100%;
            height: 48px;
        }
        .box .b_first li:nth-of-type(2) a{
            display:block;
            width: 100%;
            height: 30px;
            position: relative;
        }
        .box .b_first li:nth-of-type(2) a .toux{
            display: inline-block;
            margin: -5px 5px;
            border-radius: 2px;
            background-image: url(../images/head30.jpg);
            width: 30px;
            height: 30px;
            position: absolute;
        }
        .box{
            display: none;
            z-index: 999;
        }

        .box .b_second li a{
            padding: 0 13px;
            height: 50px;
            margin: 0;
            position: relative;
            display: block;
            color: #9d9d9d;
        }
        .box .b_second li a .myicon {
            display: inline-block;
            height: 24px;
            width: 24px;
            background-image: url("../images/meinicon@2x.png");
            background-size: 400%;
            margin-top: 11px;
            float: left;
        }
        a i.icon-home {
            background-position: 0 0;
        }
        .box .b_second li a span {
            float: left;
            line-height: 24px;
            padding: 0 4px;
            margin-top: 13px;
        }
        a .icon-inspiration{
            background-position: -48px 0;
        }
        a i.icon-discovery {
            background-position: -24px 0;
        }
        .box .b_third{
            padding: 2px 10px;
            box-sizing: border-box;
        }
        .box .b_third .down .span span:first-of-type{
            display:inline-block;
            line-height: 24px;
            padding: 0 4px;
            margin-top: 13px;
            color: #9d9d9d;
        }
        .box .b_third li ul{
            display: none;
        }
        .box .b_third a{
            display: block;
            padding: 3px 0;
            clear: both;
            font-weight: 400;
            line-height: 1.42857143;
            color: #9d9d9d;
            white-space: nowrap;
        }
        .down .span span:nth-of-type(2){
            display: inline-block;
            width: 0;
            height: 0;
            color:#9d9d9d;
            margin-left: 2px;
            vertical-align: middle;
            border-top: 4px dashed;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
        }
        .down ul li{
            padding: 0 30px;
        }

/*图片轮播的样式*/
.swiper-container{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.swiper-container .swiper-wrapper{
    position: relative;
}
.swiper-container .swiper-wrapper img{
    width: 100%;
    height: 100%;
}
 .title_content{
    position: absolute;
    bottom: 20%;
    left: 5%;
    width: auto;
    height: auto;
}
.title_content p{
    color:#fff;
    text-align: left;
    font-size: 1rem;
}
.row{
    width: 100%;
}
.row .ulTitle{
    color: #ABABAB;
    font-size: 1rem;
    width: 100%;
    text-align: center;
}
.row .selectedUL .date{
    text-align: center;
    margin-bottom: 5px;
    font-size: 0.5rem;
    color: #383838;
}
.row .selectedUL .bannerLi{
    width:100%;
}
.row .selectedUL .bannerLi .workContent{
    position: relative;
    width:100%;
}
.row .selectedUL .workCover img{
    margin-left: 10px;
    width:25%;
    float: left;
}
.row .selectedUL .workContent .workType{
    background-color: #ff7f7f;
    border-radius: 6px;
    width: 40px;
    line-height: 20px;
    color: white;
    text-align: center;
    display: inline-block;
    margin-left: 4%;
    margin-top: 5px;
    font-size: 0.5rem;
}
.row .selectedUL .workContent .workTitle{
    color: #000;
    margin-left: 30%;
    font-size: 1rem;
    position: absolute;
    margin-top: 2%;
}
.row .selectedUL .workContent .workBody p{
    margin-left: 30%;
    margin-top:8%;
    font-size: 0.5rem;
    color: grey;
}
.row .selectedUL .authorInfo{
    position: relative;
    display: inline-block;
    width: 100%;
}
.row .selectedUL .authorInfo img{
    width:10%;
    height:10%;
    border-radius: 50%;
    margin-left: 32%;
}
.row .selectedUL .authorInfo p{
    font-size: 0.5rem;
    color: grey;
    display: inline-block;
    position: absolute;
    bottom: 40%;
}
.row .loadMore{
    width:100%;
    border:1px solid black;
    text-align: center;
    margin:5% auto;
    color: black;
    display: inline-block;
}
.row .loadMore:hover{
    background-color: black;
    color: white;
}
.load{
    display: none
}
.tubiao{
    text-align: center;
    font-size: 1rem;
}
.tubiao img{
    margin-top:5%;
    width:50%;
}
.footer{
    position: relative;
    height: 100px;
    text-align:center;
    line-height: 100px;
    font-size: 0.9rem;
    background-color: #333;
    color: #aaa;
    bottom: 0;
    padding:0;
}
@media screen and (min-width: 320px) {
    html{
        font-size: 10px;
    }
}
@media screen and  (min-width: 414px) {
    html{
        font-size: 12.93px;
    }
}
@media screen and  (min-width: 640px) {
    html{
        font-size: 20px;
    }
}
@media screen and  (min-width: 960px) {
    html{
        font-size: 30px;
    }
}